<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jarvanmo.neeko_sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="neeko">
        <activity
            android:name=".MainActivity">
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
